@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
footer {
  background-color: rgba(0, 126, 126, 0.508);
}
main {
  display: flex;
  flex-direction: column;
  flex: 1; /* Flex-grow and flex-shrink are both set to one while flex-basis is set to 0 */
}
article.main {
  background-color: aliceblue;
  flex: 1;
}
aside {
  background-color: antiquewhite;
}
@media (min-width: 768px) {
  main {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }
  aside {
    flex: 0 0 20%;
  }
  .nav-sidebar {
    order: -1;
  }
}
